    {%extends "WorkshopBackendBundle:Layout:bootstrapLayout.html.twig"%}

    {% block main %}
    <h1>文章管理</h1>
        <ul class="list list-inline">
            <li>
                <a href="{{ path('post_new') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus-sign"></i>添加
                </a>
            </li>
        </ul>
    <table class="records_list table table-striped">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
            <th>类型</th>
            <th>标题</th>
            <th>内容</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{%if entity.category%}{{ entity.category.name }}{%endif%}</td>
                <td>{{ entity.subject }}</td>
                <td>{{ entity.content }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="list list-inline">
                        <li>
                            <a href="{{ path('post_show', { 'id': entity.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> 查看</a>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'id': entity.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> 编辑</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {#分页#}
    {{ knp_pagination_render(pagination, "KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig") }}


{% endblock %}
